---
import Layout from '../../layouts/About.astro';
---

<Layout
	title="About Brett Morriss"
	description="Senior Full Stack Engineer"
>
	<p>
		My name is Brett Morriss. 
		I've been using every version of ECMAScript since the first version came out in 1997. 
		In 1994 I was working for an incredible company in Seattle named WRQ (Walker, Richer & Quinn).
		WRQ specialized in terminal emulation, mainframes, and networking. 
		As a technical support engineer it was my job to understand these things while writing custom code 
		in many different languages like Visual Basic, C, Java in order to properly get our clients connected to their networks and 
		mainframe computers from HP to Dec to IBM.
	</p>
	
	<p>
		In October 1994 I started using an amazing new product named Netscape Navigator. 
		I started building my first web pages using a strange new markup language, HTML. I was soon using 
		CSS and JavaScript, as well as VBScript using Microsoft's Microsoft Internet Explorer. 
		I took to it quickly and soon found myself a key member of the <i>Professional Services</i> team providing 
		web technology expertise including JavaScript, HTML, web servers, browsers, scripting languages and Java.
		One of my favorite projects was when I wrote a JavaScript/HTML program to front-end the Library of Congress's IBM mainframe.
		This application showcased EnterView (WRQ's first Java-based emulator).  
		It was displayed at trade shows and used in sales presentations.
	</p>

	<p>
		In the years to follow I continued to grow and build with JavaScript, ECMAScript and TypeScript. 
		I've started, and worked for, companies using JavaScript for the last three decades. 
		I've led teams that provided best-in-class web design solutions utilizing the three core technolgies: HTML, CSS and JavaScript.
		I've grown with HTML, going through phases like DHTML, XHTML, and HTML5.
		I've gone from inline styles to CSS, to Sass and less, to CSS3 to Tailwind and Styled Components. 
		I've gone from the first version of JavaScript to JScript and VBScript, to JQuery and back to vanilla JS, incorporating new advances as ECMAScript matures.
	</p>	

	<p>
		Ten years ago I began using Node, having fun importing and exporting server-side JavaScript, building web servers, API servers, 
		screen scrapers, and asynchronous test tools made possible through advances in ECMAScript. The transition from ES5 and ES6 was a game-changer. 
		It was initially strange getting used to no longer using the <i>var</i> keyword in favor of <i>let</i> and <i>const</i>. 
		However, the power that came with promises, importing and exporting and transitioning to an updated syntax using 
		arrow functions and new collections/methods opened up a world of new, incredible possibilities.
	</p>

	<p>
		ECMAScript continued to add extremely benefitial updates like destructring patterns, async/await, the ability to create and use classes, 
		nullish coalescing operator, and improvements to objects and arrays. I can't wait to see future improvements. 
	</p>
</Layout>
