---
const baseUrl = await import.meta.env.BASE_URL;
const { title, redirectPage } = Astro.props;
---

{ redirectPage === 'blog' ?
  <div class="hero-type"><a href={`${baseUrl}/${redirectPage}/${title.split(' ')[0].toLowerCase()}/`}>New Features</a> | Code</div> :
  <div class="hero-type">New Features | <a href={`${baseUrl}/${redirectPage}/${title.split(' ')[0].toLowerCase()}/`}>Code</a></div>
}